{% if href %}
    {% assign linkTo = href %}
{% else %}
    {% assign linkTo = "#" %}
{% endif %}

<a class="btn-link" href={{linkTo }}>
    <button class="btn-view-all">
        {{label }}
    </button>
</a>

<style>
    .btn-link {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
      }
      
      .btn-view-all {
        min-width: 200px;
        padding: 10px 20px;
        font-size: 13px;
        background-color: #fff;
        outline: none;
        border: 1px solid #777;;
        cursor: pointer;
        color: #777;
      }
    
      .btn-view-all:hover {
        color: var(--hover-color);
        border-color: var(--hover-color);
      }
</style>