<div class="title-button">
    <span class="label">
        {% if heading %}
            {{ heading}}
        {% else %}
            EXAMPLE HEADING  
        {% endif %}
    </span>
</div>


<style>
    .title-button {
        text-align: center;
        margin-top: 40px;
    }

    .label {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #0000001a;
        z-index: 10;
        min-width: 200px;
        background-color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        color: #262626;
        position: relative;
    }

    .label::before {
        content: "";
        border-top: 1px solid #0000001a;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        width: 75px;
    }

    .label::after {
        content: "";
        border-top: 1px solid #0000001a;
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
        width: 75px;
    }
</style>