<div class="title-button">
    <span class="wrap_custom_title">
        <span class="label">
            {% if heading %}
                {{ heading}}
            {% else %}
                EXAMPLE HEADING  
            {% endif %}
        </span>
        <hr class="line"/>
    </span>
</div>


<style>
    .title-button {
        text-align: center;
    }

    .wrap_custom_title {
        position: relative;
        top: -40px;
    }

    .label {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid black;
        z-index: 10;
        min-width: 200px;
        background-color: #fff;
        text-transform: uppercase;
    }

    .line {
        background-color: black;
        width: 400px;
        margin: 0;
        z-index: 1;
    }

    .line, .label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>