{% comment %} {%  for setting in section.settings %}
  <p class="cl">{{ setting }} : {{ section.settings[setting] }}</p>
{% endfor %} {% endcomment %}

{% comment %} {% if section.settings.label %}
    <span class="wrap_custom_title">
        <span class="label">{{ section.settings.label }}</span>
        <hr class="line"/></span>
{% endif %}

<style>
    .title-button {
        margin-top: 40px;
        text-align: center;
    }

    .wrap_custom_title {
        position: relative;
    }

    .label {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid black;
        z-index: 10;
        min-width: 200px;
        background-color: #fff;
    }

    .line {
        background-color: black;
        width: 400px;
        margin: 0;
        z-index: 1;
    }

    .line, .label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style> {% endcomment %}

{% schema %}
    {
        "name" : "Product-Item",
        "tag": "div",
        "class": "product-item",
        "settings": [
            {
                "type": "text",
                "id": "label",
                "label": "Label",
                "default": "EXAMPLE LABEL"
            }
        ]
    }
{% endschema %}