{% render 'custom_title_button_snippet', heading: "Latest Blog" %}

{% assign blog_handles = 'news' | split:',' %}

<div class="latest_blogs_section">
      <div class="latest_blogs">
      {% for handle in blog_handles %}
            {% for article in blogs[handle].articles limit: 2 %}
                  {% render 'custom_blog_snippet', article: article %}
            {% endfor %}
            {% endfor %}
      </div>
</div>