{% render 'custom_title_button_snippet', heading: section.settings.title  %}

{% assign blog_handles = section.settings.blog | split:',' %}

<div class="latest_blogs_section">
      <div class="latest_blogs">
      {% for handle in blog_handles %}
            {% for article in blogs[handle].articles limit: 2 %}
                  {% render 'custom_blog_snippet', article: article %}
            {% endfor %}
            {% endfor %}
      </div>
</div>

{% schema %}
{
  "name": "Custom Latest Blogs",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Input Title of Section",
      "default": "Latest Blog"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    }
  ]
}
{% endschema %}