{% if section.settings.image_with_text_image %}
  {{ section.settings.image_with_text_image | image_url: height: nil | image_tag }}
{% endif %}

{% if section.settings.title %}
  <span class="banner_title">{{section.settings.title }}</span>
{% endif %}

{{ 'custom_banner_img.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Banner",
  "tag": "section",
  "class": "banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_with_text_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title of the banner"
    }
  ]
}
{% endschema %}